<!DOCTYPE html>
<html>
<head>
  <title>Untitled37</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Header starts-->
<div id="container" >
  <div id="welcome_header" >
    <div class="logobox" >
    </div>
    <div class="navbar" >
      <hr>


      <li><%= link_to('Home', static_path)  %></li>
      <hr>
      <li><%= link_to('Home', cancel_user_registration_path)  %></li>
      <hr>
      <li><%= link_to('Buy/Sell', ads_path)  %></li>
      <hr>
      <li><%= link_to('Home', new_user_session_path)  %></li>
      <hr>
      <li><%= link_to('Home', new_user_session_path)  %></li>
      <hr>
      <li><%= link_to('Settings', new_user_session_path)  %></li>
      <hr>
      <div class="loginbar" >
        <div class="loginbutton" >
          <%= link_to image_tag(:class => "loginbutton"), new_user_session_path;   %>

        </div>
        <div class="loginbutton" >

        </div>
      </div>
    </div>
  </div>
</div>
<!--End of header-->

<%= yield %>

<!-- Footer starts here -->

<div id="footer">
  <div class="footbox" >
    <div class="foot_top" >
      <div class="foot_strip" >
        <li style="font-weight:bold;color:black;margin-bottom:5px;">Current Schools</li>
        <li>Humber College</li>
        <li>Western University</li>
        <li>Brock University</li>
        <li>Seneca College</li>
        <li>York University</li>
        <li>Uoft University</li>
      </div>
      <div class="foot_strip" >
        <li style="font-weight:bold;color:black;margin-bottom:5px;">Pages</li>
        <li>Home</li>
        <li>Buy/Sell</li>
        <li>Blog</li>
        <li>Help</li>
        <li>Settings</li>
      </div>
      <div class="foot_strip" >
        <li style="font-weight:bold;color:black;margin-bottom:5px;">About Us</li>
        <li>Our Team</li>
        <li>About</li>
        <li>Terms</li>
        <li>Privacy</li>

      </div>
      <div class="foot_strip" >
        <li style="font-weight:bold;color:black;margin-bottom:5px;">Courses</li>
        <li>Science</li>
        <li>Math</li>
        <li>Engineering</li>
        <li>English</li>
        <li>Econmics</li>
      </div>
    </div>
    <div class="foot_bottom" >

    </div>
  </div>

</div>
<!-- Footer ends here -->

</body>
</html>
